.nav .nav-item,
.nav .nav-link,
.tab-pane,
.tab-pane .card-body {
    width: max-content;
}

.nav {
    overflow-x: auto;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link,
.nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    width: auto;
}