@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family= var(--font-type);:wght@300&display=swap');

:root {

    --a-color: rgb(252, 248, 248);
    --font-type: Tajawal;
    --a-font: 14px;
    --a-hover: rgb(80, 154, 224);
    --input-color: rgba(255, 255, 255, 0.8);

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}



.blob {

    position: absolute;
    top: 0;
    left: 0;
    fill: #023F92;
    width: 1vmax;
    height: 2em;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}


@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px);
    }

    38% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    78% {
        transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }

    80% {
        transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, -30px);
    }
}

/*---------------------------------------------*/
a {
    font-family: --font-type;
    font-size: var(--a-font);
    line-height: 1.7;
    color: var(--a-color);
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: var(--a-hover);
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}



ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
p {
    color: var(--a-color);
}

.image {
    border-radius: 50%;
    position: relative;
    right: 16.5em;
    vertical-align: middle;
    border-style: none;
    top: 30em;
    top: -2.6000000000000014em;
}

input {
    outline: none;
    border: none;
}


input::-webkit-input-placeholder {
    color: var(--input-color);
}

input:-moz-placeholder {
    color: var(--input-color);
}

input::-moz-placeholder {
    color: var(--input-color);
}

input:-ms-input-placeholder {
    color: var(--input-color);
}



/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}



img {


    position: relative;
    right: 20em;
    vertical-align: middle;
    border-style: none;
    top: 30em;
    top: -14.6em;
}



.bg-contact3 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container-contact3 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--input-color);

}

.wrap-contact3 {
    width: 500px;

    background-image: linear-gradient(#478ac9, #adf6f2);
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 65px 55px;
    border-radius: 10em 10em 10em 10em;
    height: 682px;
}


/*------------------------------------------------------------------
[  ]*/

.contact3-form {
    width: 100%;
}

.contact3-form-title {
    display: block;
    font-family: var(--font-type);
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;

    padding-bottom: 20px;

}




.wrap-input3 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 27px;
}

.input3 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: " var(--font-type);";
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    padding: 0 5px;
}

.focus-input3 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input3::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #fff;
}


/*---------------------------------------------*/
input.input3 {
    height: 45px;
}


textarea.input3 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
}


.input3:focus+.focus-input3::before {
    width: 100%;
}

.has-val.input3+.focus-input3::before {
    width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.container-contact3-form-btn {
    /* padding-top: 23px; */
}

.contact3-form-btn {
    margin: auto;
    font-family: " var(--font-type);";
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    border-radius: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    min-width: 120px;
    height: 50px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    border-radius: 18em;
    background: -webkit-linear-gradient(-135deg, #084168, #084168);
    background: -o-linear-gradient(-135deg, #084168, #084168);
    background: -moz-linear-gradient(-135deg, #084168, #084168);
    background: linear-gradient(-135deg, #084168, #084168);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact3-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 18em;
}

.contact3-form-btn:hover {
    color: #fff;
}

.contact3-form-btn:hover:before {
    opacity: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 950px) {
    .wrap-contact3 {
        padding: 72px 15px 65px 15px;
    }

    svg:not(:root) {
        height: 22em;
        overflow: hidden;
        width: 3em;
    }

    @media (max-width: 1000px) {
        img {
            display: none;
        }
    }

}

@media (max-width: 443px) {
    .container-contact3-form-btn1 {
        margin-right: -1.5em;
    }
}

.container-contact3-form-btn1 {
    position: relative;
    top: 1em;
    right: 9em;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: " var(--font-type);";
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: " var(--font-type);";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }

}


/*==================================================================
[ Restyle Radio ]*/
.wrap-contact3-form-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 37px;

    padding-bottom: 7px;

}

.input-radio3 {
    display: none;
}

.label-radio3 {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-family: " var(--font-type);";
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}

.label-radio3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.label-radio3::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid transparent;
    background: rgba(255, 255, 255, 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;

}

.input-radio3:checked+.label-radio3::after {
    display: block;
}


.social {
    text-align: center;
    margin-top: 30px;
}

.social .social-divider {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin: -20px 0 20px;
    margin-left: 10%;
}

.social-divider span {
    padding: 0 10px;
    background-color: #97dfe9;
    font-size: smaller;
    color: #645d5d;
}

.social .social-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}

.social .social-images img {
    position: static;
    width: 60%;
}
