/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */

:root {
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--main-color);

    --font-type: Tajawal;

    --main-color: #543ab7;
    --secondary-color: #00acc1;
    --hover-main: #817ecd;
    --hover-secondary: #9bb0dd;
    --bg-sec: #f6f4fa;

    --radius: .5rem;
}

* {
    font-family: var(--font-type);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    font-size: 60.5%;
    font-weight: 700;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

section {
    padding: 6rem 12%;

}

section:nth-child(even) {
    background: var(--bg-sec);
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 3.5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    color: var(--main-color);
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    background: #fff;
}

.log-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem;
    border: var(--border);
    border-radius: var(--radius);
    /* color: var(--main-color); */
    cursor: pointer;
}

.log-btn:hover {
    /* background-color: var(--hover-main); */
    cursor: pointer;
    color: #ffffff;
}

.search form {
    display: flex;
}

.search form .box {
    margin-left: 2rem;
}

.search p {
    color: var(--black);
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 800;
    text-align: center;
}

input, select, .s-btn {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black);
    border: solid 1px var(--main-color);
    margin: 1rem 0;
    text-transform: none;
    border-radius: var(--radius);
}

.btn:hover, .s-btn:hover {
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
}

option {
    background-color: #fff;
    color: var(--main-color);

}

select:hover {
    background-color: var(--hover-main);
    color: #fff;
    cursor: pointer;

}

/* select:hover {
    cursor: pointer;
} */
::placeholder {
    font-size: 1.5rem;
}

/* make border in hover */
.border:hover {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem;
    border: var(--border);
    border-radius: var(--radius);
    color: var(--main-color);
    cursor: pointer;
}

.header {
    padding: 1rem 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.header .logo {
    font-size: 3rem;
    color: var(--black);
}

.header .logo i {
    color: var(--main-color);
}

.header .navbar a {
    font-size: 2rem;
    font-weight: 700;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: var(--border);
    /* font-size: 2.1rem; */
}

#menu-btn {
    font-size: 2.5rem;
    border-radius: var(--radius);
    /* background: #eee; */
    color: var(--main-color);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

/* End header style */

/* Start ads style */
.ads {
    display: flex;
    height: 100%;
    /* flex-direction: column; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding: 0;
    /* background-color: #fff; */
    /* padding-inline-start: 1.5rem; */
    /* gap: 1.5rem; */
    padding-top: 9rem;
    /* padding-top: 8rem; */
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 96%;

}

.banner-container .banner {
    background: linear-gradient(-55deg, var(--hover-main) 29%, var(--main-color) 29.1%, var(--main-color) 68%, var(--hover-main) 68.1%);
    border-radius: var(--radius);
    width: 100%;
    height: 50vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .adsProduc {
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}

.banner-container .banner .adsProduc img {
    width: 80%;
}

.banner-container .banner .content {
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    padding-top: 80px;
    text-transform: uppercase;
}

.banner-container .banner .content span {
    color: #eee;
    font-size: 25px;
}

.banner-container .banner .content h3 {
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .content p {
    color: #eee;
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 800;

}

.banner-container .banner .person {
    position: relative;
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250px;
}

.banner-container .banner .person img {
    width: 100%;
}

@media (max-width:768px) {
    .banner-container .banner .person {
        display: none;
    }
}

/* ads slider */
.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5rem;
    margin-top: 68px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    /* border-radius: 0 3px 3px 0; */
    border-radius: var(--radius);
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-inline-start: .2rem;
    /* border-radius: 3px 0 0 3px; */
    border-radius: var(--radius);
}

.prev {
    left: 0;
    margin-inline-start: .2rem;
    /* border-radius: 3px 0 0 3px; */
    border-radius: var(--radius);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: linear-gradient(-55deg, var(--hover-main) 29%, var(--main-color) 29.1%, var(--main-color) 68%, var(--hover-main) 68.1%);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


/* End ads style */

/* Start Pharmacies style */
.pharmacies .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.pharmacies .box-container .box {
    text-align: center;
    background: #fff;
    border-radius: var(--radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.pharmacies .box-container .box img {
    height: 20rem;
    border: var(--border);
    border-radius: var(--radius);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pharmacies .box-container .box h3 {
    color: var(--black);
    font-size: 3rem;
}

.pharmacies .box-container .box span, .pharmacies .box-container .box p {

    color: var(--black);
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 800;
}

.pharmacies .box-container .box i {
    color: var(--main-color);
    font-size: 1.4rem;
    padding-inline-end: .5rem;

}

.pharmacies .box-container .box .share {
    padding-top: 1.6rem;
}

.pharmacies .box-container .box .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 1.8rem;
    color: var(--main-color);
    border-radius: var(--radius);
    border: var(--border);
    margin: .3rem;
}

.pharmacies .box-container .box .share a:hover {
    background: var(--main-color);
    color: #fff;
    box-shadow: var(--box-shadow);
}

/* Start Pharmacies ends */



/* Footer Medical sit */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a, .footer .box-container .box p {
    display: block;
    font-weight: 800;
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 800;

}

.footer .box-container .box a i {
    padding-left: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i {
    padding-left: 2rem;
    color: var(--main-color);
}

.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--main-color);
}

.footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border: solid 1px var(--main-color);
    margin: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .btn:hover {
    border: solid 1px var(--main-color);
}

.footer .box-container .box .payment {
    width: 100%;
    margin-top: 2rem;
}









/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    /*  */
    section {
        padding: 3rem;
    }

    .ads {
        width: 95%;
    }



}

@media (max-width:768px) {

    #menu-btn {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        /* left: 2rem; */
        border-radius: var(--radius);
        box-shadow: var(--box-shadow);
        /* width: 30rem; */
        width: 90%;
        text-align: start;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}
